@import "tailwindcss";

@font-face {
    font-family: "font-rick";
    src: url("/src/assets/fonts/get_schwifty.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.font-rick {
    font-family: "font-rick", sans-serif;
}

.text-rick-border {
    font-weight: 600;
    color: #00afc6;
    -webkit-text-stroke: 1px #a7ce50;
}